a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

.cart__container {
    padding: 1rem;
    display: flex;
    align-items: center;

    .cart__icon {
        color: white;
        height: 2rem;
        width: 1.5rem;
        margin: 0.5rem;
    }
}

@media screen and (max-width:900px) {

    .cart__container {
        padding: .5rem;

        .cart__icon {
            color: white;
            height: 2rem;
            width: 1.5rem;
            margin: 0.5rem;
        }
    }
}