.empty__cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;

    .img__container {
        .img {
            width: 100%;
        }
    }

    .back-button {
        margin: 2rem;
        padding: .5rem 2rem;
    }
}

.cart {
    color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5rem;
    max-width: 50rem;
    background: rgb(240, 240, 240);
    border-radius: 15px;

    .cart__detail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        border-bottom: 1px solid rgba(71, 71, 71, 0.301);
        color: black;

        .cart-item-title {
            padding: .5rem;
            margin: 0;
            font-size: 1.5rem;
        }

        .cart-container-p-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .5rem;

            p {
                font-size: 1.5rem;
                margin: 0;
            }

            .cart-button {
                margin-left: .5rem;
            }
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        margin: 1.5rem;

        .cart-button-delete {
            margin-left: .5rem;
        }
    }

}

.cart-button-back {
    margin: 1rem;
}

@media screen and (max-width:900px) {
    .empty__cart {


        .back-button {
            margin: 2rem;
            padding: 0.8rem 2rem;
            font-size: 1.5rem;
        }
    }
}