.empty__cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;

    .img__container {
        .img {
            width: 100%;
        }
    }

    .back-button {
        margin: 2rem;
        padding: .5rem 2rem;
    }
}

.cart {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .cart__detail {
        display: flex;
        align-items: center;
        margin: 1rem;

        .cart-item-title {
            font-size: 2rem;
            font-weight: bold;
            padding: 1rem;
        }

        .cart-container-p-btn {
            display: flex;
            align-items: center;

            .cart-item-p {
                font-size: 1.2rem;
            }

            .cart-button {
                margin-left: 1rem;
            }
        }
    }

    .buttons {
        .cart-button-delete {
            margin: 2rem;
        }
    }
}

@media screen and (max-width:500px) {
    .empty__cart {


        .back-button {
            margin: 2rem;
            padding: 0.8rem 2rem;
            font-size: 1.5rem;
        }
    }
}