.details__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;

    .img__container {
        height: 300px;
        width: 600px;

        .img {
            height: 100%;
        }
    }

    .text__container {
        padding: 2rem;
        margin: 3rem;

        .title {
            font-size: 4rem;
            margin: 0;
        }

        .price {
            font-size: 1.5rem;
        }

        .tag {
            font-size: .8rem;
            color: white;
            display: inline;
            font-weight: bold;
            margin: .5rem;
            border-radius: 10px;
            padding: .3rem 1rem;
            text-decoration: none;
            border: 1px solid #FF4545;
            transition: background .2s;
        }

        .tag:hover {
            background: #c03535;
        }

        p {
            padding: 1rem;
        }
    }
}

@media screen and (max-width:1200px) {
    .details__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .img__container {
            height: 200px;
            width: 100vw;
            margin-top: 2rem;

            img {
                width: 100%;
            }
        }

        .text__container {
            margin: .1rem;

            .title {
                font-size: 3rem;
            }

            .price {
                font-size: 1.3rem;
                padding: 0;
            }

            p {
                padding: .2rem;
                margin: 1rem;
            }
        }
    }
}