.details__container {
    display: flex;
    height: 100vh;
    color: white;

    .img__container {
        margin: 3rem;

        .img {
            height: 400px;
        }
    }

    .text__container {
        padding: 2rem;

        .title {
            font-size: 5rem;
            padding: 1rem;
        }

        .tag {
            color: white;
            background: rgb(48, 48, 48);
            display: inline;
            border: solid 1px;
            margin: .5rem;
            border-radius: 10px;
            padding: .2rem 1rem;
            text-decoration: none;
            transition: background .2s;
        }

        .tag:hover {
            background: rgb(87, 87, 87);
        }

        p {
            padding: 1rem;
        }
    }
}