.itemListComponent {
    margin: 2rem;

    h2 {
        padding: 2rem;
    }

    .products {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .card__container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 2rem;

            .myCard {
                background: #e8e6ff;
                width: 14rem;
                color: rgb(3, 3, 3);
                border: none;
                overflow: hidden;

                .image {
                    height: 120px;
                    object-fit: cover;
                    transition: transform .3s;
                }

                .image:hover {
                    transform: scale(1.1);
                }

                .title {
                    font-weight: bold;
                }


                .more {
                    background: #4b4a68;
                    color: white;
                    text-decoration: none;
                    padding: .1rem 1rem;
                    transition: background .2s;
                }

                .more:hover {
                    background: rgb(65, 62, 90);
                }
            }
        }
    }
}

@media screen and (max-width:900px) {
    .itemListComponent {
        margin: none;

        h2 {
            margin-top: -2rem;
        }
    }
}