.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo__icon {
        height: 5rem;
        width: 3rem;
        color: white;
    }

    .nav {
        margin: 1rem;

        .nav__item {
            color: black;
            margin: 1rem;

            .nav__link {
                color: white;
                font-weight: bolder;
                text-decoration: none;
                transition: color .2s;
            }

            .nav__link:hover {
                color: #FF4545;
            }
        }
    }
}